.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #347433;
}

.logo {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.title {
  position: absolute;
  top: 215px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
}

.rectangle {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 620px;
  height: 450px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 40px;
}

.start-text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 24px;
  color: white;
  white-space: nowrap;
}

.btn-group {
  position: absolute;
  display: flex;
  width: 600px;
  height: 400px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-group button {
  width: 200px;
  height: 100px;
  font-size: 18px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.15s ease;
  border-radius:10px;
}

.btn-group button:nth-child(1) {
  background-color: #FF6F3C;
}

.btn-group button:nth-child(2) {
  background-color: #FFC107;
}

.btn-group button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.25);
}

.btn-group button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
}

.join-link-group {
  margin-top: 260px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.join-label {
  color: #fff;
}

.join-link-group input {
  width: 200px;
  height: 36px;
  padding: 0 10px;
  border-radius: 6px;
  border: none;
}

.join-btn {
  width: 90px;
  height: 36px;
  padding: 0 16px;
  background-color: #ffc107;
  border: none;
  border-radius: 10px;
  z-index: 10;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}