.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  box-sizing: border-box;
}

.play-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.drawingBoard {
  width: 50%;
  max-width: 1000px;
  aspect-ratio: 4 / 3;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tool-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  margin-left: -70px;
  margin-top: 50px;

  position: relative;
  z-index: 10;
}

.tool-icon {
  width: 40px; 
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  opacity: 0.7; /* 비활성화 표시 */
}

.tool-icon.active {
  transform: scale(1.3) !important;
  opacity: 1;
  
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));

}

.tool-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}