.container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #347433;
}

.app-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}